.createPostContainer {
  margin: 0;
  padding: 0.5em 0.75em;
  border: 3px solid blue;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.createPostTitleTags {
  display: block;
  justify-content: space-evenly;
}

.createPostTitle {
  margin-right: 1em;
}

.createPostTitle > label {
  display: none;
}

.createPostTags > label {
  display: none;
}
.createPostTitleTags > * {
  margin-top: 0;
}

.createPostBlock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 70%;
  margin: 0;
}

.createPostBlock > * {
  margin: 0;
}

.createPostTextArea {
  width: 80%;
  height: 90%;
  border: none;
  outline: none;
}

.createPostSubmit {
  width: 20%;
  height: 100%;
}

.createPostInput {
  background-color: gray;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 799px) {
  .createPostContainer {
    margin: 0;
    padding: 0.5em 0.75em;
  }

  .formContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .createPostTitleTags {
    display: none;
  }

  .createPostTitle {
    margin-right: 1em;
  }

  .createPostTitle > label {
    display: none;
  }

  .createPostTags > label {
    display: none;
  }
  .createPostTitleTags > * {
    margin-top: 0;
  }

  .createPostBlock {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 90%;
    margin: 0;
  }

  .createPostBlock > * {
    margin: 0;
  }

  .createPostTextArea {
    width: 80%;
    height: 90%;
    border: none;
    outline: none;
  }

  .createPostSubmit {
    width: 20%;
    height: 100%;
  }

  .createPostInput {
    background-color: gray;
    color: white;
    display: block;
    height: 100%;
  }
}
