.postListContainer {
  border: 3px solid blue;
  margin-top: 1rem;
  /* max-height: 100%; */
  /* height: auto; */
  /* height: 100vh; */
  overflow-y: auto;
}

@media screen and (max-width: 799px) {
  .postListContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    /* max-height: calc(100vh - 220px); */
    /* height: auto; */
  }

  p {
    height: fit-content;
  }
}
