.container {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.threeCanvas {
  width: 60vw;
  height: 60vh;
}

/* .controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
} */
