.enterMessageForm {
  display: flex;
  width: 100%;
  background-color: lightblue;
}

.enterMessageInput {
  display: block;
  width: 80%;
  height: 3em;
  margin-right: 1em;
}

.enterMessageSubmit[type="submit"] {
  display: inline-block;
  height: 3em;
  width: 20%;
  margin-top: 0;
  border-radius: 0.5em;
  letter-spacing: 0.5em;
}
