.container {
  /* width: 100%; */
  /* height: 100vh; */
  border: 1px solid black;
}

.userList {
  border: 1px solid black;
}

.user {
  list-style-type: none;
  padding: 0.5em 1.5em;
}

.user:hover {
  cursor: pointer;
}
