.blogHeader {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  border: 1px solid black;
}

.blogNav {
  width: 100%;
}
.blogHeaderUL {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.blogHeaderUL li {
  list-style-type: none;
  margin: 0.5rem 1rem;
}

.blogHeaderUL li a {
  text-decoration: none;
  color: black;
}

.blogHeaderUL li a:hover {
  cursor: pointer;
  background: gray;
  transition-delay: 0.7s smooth;
}

@media screen and (max-width: 799px) {
  .blogHeader {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    margin: 0;
  }

  h3 {
    display: none;
  }
}
