.container {
  max-width: 800px;
  border: 1px solid yellowgreen;
  height: 100%;
  background-color: white;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1080px;
  }
}
