.container {
  max-width: 800px;
  border: 1px solid yellowgreen;
  height: 100vh;
  background-color: white;
  margin: auto;
  position: relative;
}

.modalBody {
  position: absolute;
  top: 3em;
  left: -19%;
  right: 101%;
  bottom: 70%;
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  background-color: white;
}

.modalClose::after {
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.1em;
  text-indent: 0;
  content: "\00D7";
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1080px;
  }
}
