.container {
  width: 100%;
  border: 1px solid green;
}

.container > h3 {
  text-align: center;
  text-decoration: underline;
}

section {
  display: block;

  padding: 0.5em 1.5em;
}

section > div {
  margin-right: 1em;
}

section > div + div {
  margin-top: 0;
}

.div1 {
  display: none;
}

.div2 {
  display: flex;
  justify-content: space-evenly;
}

.div2 > div + div {
  margin-top: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links > li {
  list-style-type: none;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 0;
    padding: 0;
  }

  section {
    display: flex;
    padding: 0.5em 1.5em;
  }

  .div1 {
    flex: 1;
    display: flex;
  }

  .div2 {
    flex: 2;
  }
}
