.header {
  width: 100%;
  margin: 0;
}

.div1 {
  display: none;
}

.div2 {
  border: 1px solid green;
  width: 100%;
  margin: 0;
}

.links {
  display: flex;
}

.links > li {
  list-style-type: none;
  margin: auto 1.5em auto 0;
}

.links > li + li {
  margin-top: 0;
}

@media screen and (min-width: 800px) {
  .div1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    width: 100%;
  }
}
