@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header {
  width: 100%;
  margin: 0;
  background-color: white;
  font-size: x-small;
}

.header h1 {
  font-family: "Permanent Marker";
  letter-spacing: 1rem;
  color: navy;
}

.div1 {
  display: none;
}

.div2 {
  width: 100%;
  margin: 0;
  background-color: blueviolet;
  padding: 0.5em 0 0.5em 0;
}

.links {
  display: flex;
}

.links > li {
  list-style-type: none;
  margin: auto 1.5em auto 0;
}

.links > li + li {
  margin-top: 0;
}

.links li > a {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: black;
}

.status {
  display: none;
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 1em;
  }
  .div1 {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .mobile {
    display: none;
  }

  /* .status {
    display: block;
  } */
}

@media screen and (min-width: 1000px) {
  .div1 {
    display: flex;
    justify-content: space-between;

    /* background-color: rgba(225, 230, 235, 0.75);
    backdrop-filter: blur(10px); */
    color: #2e2e2e;
    width: 100%;
    margin-bottom: 1em;
  }

  .div2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1080px;
    max-width: 1080px;
    border-radius: 2em;
  }

  .links li {
    margin: 0 2em;
  }

  .links li a {
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: background-color 0.2s ease-in-out 0.05s;
  }

  .links > li > a:hover {
    background-color: black;
    color: white;
  }

  .mobile {
    display: none;
  }

  .status {
    display: block;
  }
}
