.container {
  /* border: 1px solid yellowgreen; */
  margin-right: 1em;
  font-size: 0.75em;
  width: 80%;
  max-width: 1000px;
}

.dropdown {
  display: inline-block;
  position: relative;
  border-radius: 25%;
  /* border: 1px solid yellowgreen; */
}

.dropdownLabel {
  display: flex;
  justify-content: center;
  padding: 0.5em 1.5em;
  margin-right: 1em;
  /* border: 1px solid yellowgreen;
  border-radius: 25%;
  background-color: #eee; */
}
.dropdownLabel > .svg {
  font-size: 4em;
}

.dropdownLabel::after {
  content: "";
  position: absolute;
  right: 0.5em;
  top: 2.5em;
  border: 0.3em solid;
  border-color: black transparent transparent;
  margin-right: 1em;
}

.dropdown:hover .dropdownLabel::after {
  top: 2.3em;
  border-color: transparent transparent black;
}

.dropdownMenu {
  display: block;
  z-index: 9999; /* FIX */
  position: absolute;
  top: 250%;
  right: 50%;
  min-width: 100%;
  background-color: #eee;
}

/* .dropdown:hover .dropdownMenu {
  display: block;
} */

.submenu {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  border: 1px solid yellowgreen;
  width: 200px;
}

.submenu > li + li {
  /* border-top: 1px solid yellowgreen; */
}

.submenu > li {
  padding: 0.5em 1.5em;
}

.submenu > li * {
  display: block;
  text-align: left;
}

.submenu svg {
  font-size: 4em;
}
a {
  text-decoration: none;
  color: black;
}

.submenu > li:hover {
  background-color: #fff;
}

.account {
  font-size: 4em;
}

.statusDisplay {
  display: none;
}

.login {
  display: block;
  width: max-content;
}

.offline {
  margin-right: 0;
  text-align: right;
}

.login a {
  letter-spacing: 0.2em;
}
