.footerContainer {
  width: 100%;
  border: 1px solid black;
  margin: 0;
  border: 3px solid orange;
  background-color: lightsalmon;
}

.footerSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.footerDescription {
  display: block;
  flex: 1;
}

.footerDiv {
  margin: 0;
}

.footerLinks {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  flex: 2;
}

.footerLinks ul {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 799px) {
  .footerContainer {
    display: block;
    height: 100%;
    border: 1px solid black;
  }

  .footerSection {
    display: block;
    height: 100%;
  }

  .footerDescription {
    width: 100%;
    height: 100%;
    display: block;
  }

  .footerLinks {
    display: none;
  }
}
