/* LandingPage.module.css */

.container {
  display: block;
  margin: auto;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  align-items: center;
}

.nav > button + span + button {
  margin-top: 0;
}

.sceneWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

button {
  font-size: 1rem;
}
