@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

/* ============================= */
/* ROOT CONTAINER */
/* ============================= */

.container {
  display: block;
  margin: auto;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* ============================= */
/* BANNER */
/* ============================= */

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

/* ============================= */
/* 3D SLIDER */
/* ============================= */

.slider {
  position: absolute;
  top: 10%;
  left: calc(50% - 50px);
  width: 100px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

/* ============================= */
/* CAROUSEL ITEMS */
/* ============================= */

.item {
  position: absolute;
  inset: 0;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.item {
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(180px);
}

/* ============================= */
/* IMAGES + THREE WRAPPER */
/* ============================= */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= */
/* MODAL (EXPANDED VIEW) */
/* ============================= */

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);
  z-index: 1000000000000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 85vw;
  height: 85vh;
  background: #111;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.8);
  animation: modalFade 0.35s ease;
}

button {
  padding: 0.5em 0.7em;
  border: 1px solid #8d8d8d;
  /* border: none; */
  background-color: white;
  font-size: 1em;
}

.modalClose {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  padding: 0.3em;
  cursor: pointer;
  font-size: 2em;
  height: 1.5em;
  width: 1.5em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.modalClose::after {
  position: absolute;
  line-height: .5;
  top: .5em;
  left: 0.15em;
  right: 0.15em;
  text-indent: 0;
  content: "\00D7";
 
}

@keyframes modalFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ============================= */
/* CONTENT AREA */
/* ============================= */

.content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.content h1 {
  font-family: "ICA Rubrik";
  font-size: 5em;
  line-height: 1em;
  color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content h1::after {
  position: absolute;
  inset: 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

/* ============================= */
/* AUTHOR SECTION */
/* ============================= */

.author {
  font-family: Poppins;
  max-width: 200px;
  margin: auto;
  z-index: 2;
  margin-bottom: 7em;
  display: none;
}

.author h2 {
  font-size: 2em;
  text-align: center;
}

/* ============================= */
/* MODEL BACKGROUND */
/* ============================= */

.model {
  background-image: url(../assets/Pharaoh4.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

/* ============================= */
/* BREAKPOINT ≥ 600px */
/* ============================= */

@media screen and (min-width: 600px) {
  .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }

  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }

  .content h1 {
    font-size: 7em;
    text-shadow: 0 10px 20px #000;
  }
}

/* ============================= */
/* BREAKPOINT ≥ 1023px */
/* ============================= */

@media screen and (min-width: 1023px) {
  .slider {
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
  }

  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(550px);
  }

  .content {
    width: min(1400px, 100vw);
  }

  .content h1 {
    font-size: 8em;
  }

  .author {
    display: block;
    color: #fff;
    text-shadow: 0 10px 20px #000;
    width: 100%;
    text-align: right;
    padding: 0 30px;
  }

  .author h2 {
    text-align: right;
  }
}
