/* LandingPage.module.css */
@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.container {
  display: block;
  margin: auto;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  align-items: center;
}

.nav > button + span + button {
  margin-top: 0;
}

.sceneWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

button {
  font-size: 1rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

.slider {
  position: absolute;
  top: 10%;
  left: calc(50% - 50px);
  width: 100px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}
.item {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
      width: 75%;
      height: 75%;

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

  .content h1 {
    font-family: "ICA Rubrik";
    font-size: 5em;
     line-height: 1em;
  color: blue;
  position: absolute;
  bottom: 0px;
  width: 100%;
  }

  .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.author {
  font-family: Poppins;
  /* text-align: center; */
  max-width: 200px;
  margin: auto;
  z-index: 2;
  margin-bottom: 7em;
  display: none;
}

.author h2 {
  display: block;
  font-size: 2em;
  text-align: center;
}



.model {
   background-image: url(../assets/Pharaoh4.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

@media screen and (min-width: 600px){
  .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
.item{
   transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
}
 .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
.author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    display: none;
  }
}

@media screen and (min-width: 1023px){
  .slider {
     width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  /* inset: 0 0 0 0; */
  }
  .item {
     transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  }

  .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.content h1 {
  font-size: 8em;
}


  .author {
    display: block;
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: right;
    padding: 0 30px;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .author h2 {
    font-size: 2em;
    text-align: right;
  }

}