@import url("https://fonts.googleapis.com/css2?family=Macando&display=swap");
.container {
  display: block;

  background-color: white;
  padding-left: 1.5em;
  margin: 1.5em auto;
  /* margin-bottom: 1.5em; */
  font-family: "Macando";
}

.contents {
  text-indent: 1.5em;
}

.author {
  text-indent: 3em;
}

.tags > * {
  margin-left: 1em;
}
