.container {
  display: block;
  border: 1px solid red;
  background-color: white;
  padding-left: 1.5em;
  margin: auto;
  margin-bottom: 1.5em;
}

.contents {
  border: 1px solid red;
  text-indent: 1.5em;
}

.author {
  text-indent: 3em;
}
