.container {
  display: block;
  border: 3px solid red;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.postTitle {
  font-style: italic;
  display: inline;
}

.postContents {
  display: inline;
  text-indent: 1.5em;
  line-height: 1.5;
}
