@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: x-small;
}

.header::after {
  margin-top: 0;
}

.header h1 {
  font-size: 1rem;
  font-family: "Permanent Marker";
  letter-spacing: 1rem;
}

.links {
  display: flex;
}

.links > li {
  list-style-type: none;
  margin-right: 1em;
}

.links > li + li {
  margin-top: 0;
}

.links li > a {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.status {
  display: none;
}

@media screen and (min-width: 600px) {
  .header {
    font-size: small;
  }
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .mobile {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    display: none;
  }
  .mobile {
    display: none;
  }

  .status {
    display: block;
  }
}
