.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: skyblue;
  border: 3px solid purple;
  height: 100%;
  margin: 0;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
}

main {
  display: block;
  flex: 1;
  height: 100vh;
  background-color: white;
}

footer {
  display: block;
  height: auto;
  position: static;
}
