.container {
  display: block;
  overflow: hidden;
  background-color: skyblue;
  border: 3px solid purple;
  height: 100%;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
}

main {
  display: block;
}

footer {
  position: sticky;
  bottom: 0;
}
